<footer class="main-footer">
  <div class="sub-footer">
    <div>
      <img class="footer-logo" src="assets/images/logo.png" alt="logo" />
      <div class="footer-menu">©️ 2025</div>
    </div>
    <div>
      <div class="menu-title">Version</div>
      <div class="footer-menu">2.2.2</div>
    </div>
    <div>
      <div class="menu-title">About</div>
      <div class="footer-menu about-menu">
        <div>Contact Us</div>
        <div>Privacy</div>
        <div>Terms of Use</div>
      </div>
    </div>
  </div>
</footer>
